
/* ================= ACCORDION  ==================== */
.accordion-title{
  background-color:$second-color;
  color:$light-font-color;
  font-weight: 400;
  padding:0 0.5vw;
  font-size:16px;
  position: relative;
  margin:20px 0 0 0;
  cursor: pointer;
  line-height: 40px;
}
.panel-group{
  margin:0;
}
.panel-title{
  font-size:14px;
}
.panel-default > .panel-heading{
  border-color:$second-color;
  color:#fff;
  background-color:$second-color;
  padding:0;
}
.panel-default > .panel-heading:hover{
  background-color:#333;
}
.accordion-content{
  padding:30px;
  border:solid 1px $second-color;
}
.panel-title a,.panel-title a:hover,.panel-title a:focus{
  display:block;
  position:relative;
  color:#fff;
  padding:0 20px;
  line-height:42px;
  background-color:$second-color;
}
.panel-title a.collapsed{
  background-color:#333;
}
.panel-title a.collapsed:hover{
  background-color:$second-color;
}
.panel-title a:after{
  font-family: "Ionicons";
  content: "\f125";
  display:block;
  right:0; top:0;
  position:absolute;
  text-align: center;
  color:#fff;
  width: 40px;
}
.panel-title a.collapsed:after{
  content:"\f123";
}