
/* ================= BUTTON  ==================== */
a{
  color:$second-color;
}
a:hover,
a:focus{
  color:$primary-color;
  text-decoration:none;
}
.button{
  background: $second-color;
  color: #fff;
  box-shadow: none;
  padding: 5px 20px;
  text-transform: capitalize;
  border: none;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.btnPay{
  height:40px;
}
.btn-outline{
  background:none;
  border:solid 1px #444;
  color:#363636;
}
.button:hover,.button:focus{
  background-color:$primary-color;
  color:#fff;
  text-decoration: none;
}
.btn-block{
  width: 100%;
  font-weight:700;
  border-radius:0;
  margin:0;
}
.button.btn-add{
    font-size: 14px;
    font-weight: 600;
}
.btn-group{
  margin-bottom: 20px;
}
input[type=text].warning-border{
  border:solid 1px #c00;
}
.btn-group .btn-grey{
    background:#ebebeb;
    color:#acacac;
    border:solid 1px #ebebeb;
    font-weight:700;
    min-width: 250px;
    border-radius:0;
}
.btn-group .btn-grey.active{
    background:#fff;
    color:#363636;
}
.btn-s{
    padding: 0 10px;
    line-height: 24px;
    height: 24px;
    font-size: 12px !important;
}
.btn-m{
    padding: 0 10px;
    line-height: 30px;
    height: 30px;
    font-size: 12px !important;
}
.btn-light{
  background-color:transparent;
  border-color: $light-color;
  color:$light-color;
}
.btn-white{
  background: #fff;
  color:$bg-dark;
  border:solid 1px #fff;
}
.btn-primary{
  background-color: $second-color;
  border-color: $second-color;
  color:$light-color;
  letter-spacing:1px;
}
.btn-blue{
  background-color: $primary-color;
  border-color: $primary-color;
  color:$light-color;
  letter-spacing:1px;
}
.btn-o-primary{
  background-color:transparent;
  border-color: $second-color;
  color:$second-color;
  letter-spacing:1px;
}
.btn-more{
  color:#000;
  position:absolute;
  right:10px; bottom:2px;
  font-size:12px;
}
.btn-more i{
  font-size:20px;
  margin-left: 10px;
}
.btn-more span{
  font-size: 12px;
  line-height: 31px;
  display: inline-block;
  vertical-align: top;
}
.btn-search{
  background: #f4ab54;
  border: none;
  color: #fff;
  padding: 0;
  margin:0;
  line-height: 40px;
  width: 40px; height:40px;
  position:absolute; right:0; top:0;
  max-width: 400px;
  font-size: 14px;
  letter-spacing: 3px;
  display: block;
}
.box-nav a{
  margin:0 10px;
}
.box-nav a i{
  margin-right: 3px;
}
.seeAll{
  margin-left: auto;
  color:#999;
}
.socialLogin{
  display:flex;
}
.socialLogin .button{
  padding:0;
  display:flex;
  justify-content:center;
  line-height:35px;
}
.socialLogin i{
  font-size:20px;
  margin:0 5px 0 0;
}
.loginGoogle{
  background:#e50d0d;
  border:solid 1px #e50d0d;
  border-radius:0 20px 20px 0;
}
.loginFacebook{
  background:#4267b2;
  border:solid 1px #4267b2;
  border-radius:20px 0 0 20px;
}
.loginGoogle:hover,.loginFacebook:hover,.login-form .button:hover{
  background:#333;
  border:solid 1px #333;
  color:#fff;
}