/* ================= FORM  ==================== */

form label {
    display: block;
    line-height: 35px;
    font-size: 14px;
    font-weight: 600;
}

form label.error {
    color: #c00;
    padding: 10px 0;
    font-size:12px;
    font-weight:300;
}
.help-block{
    color:#c00;
}
.help-block.help-info{
    color:#999;
}
form {
    margin: 0;
    padding:0 0;
}
.alert{
    margin:0;
    border-radius:0;
    text-align:center;
}
.alert-small{
    padding:5px;
    text-align:center;
}
input[type=text],
input[type=password],
input[type=email],
input[type=number],
textarea.form-control,textarea {
    background: #fff;
    height: 40px;
    border: 1px solid #ccc;
    color: #696969;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding:10px;
    font-size:14px;
    width: 100%;
}

input[type=text].error,
input[type=password].error,
input[type=email].error,
input[type=number].error,
textarea.error {
    border-color: #c00;
}
form p{
    margin:0;
}
form .button {
    color: $light-font-color;
}

form .button:hover {
    background: $primary-color;
}

textarea.form-control,textarea {
    padding: 10px;
    height: 100px;
    resize: none;
}

form .rows {
    margin-bottom:20px;
    display:flex;
    justify-content:center;
    align-items:center;
}
form.contact-form .rows{
    display:block;
}
.selectstyle {
    padding: 0 5px;
    width: 100%;
    margin: 0 auto 0 auto;
    border-radius: 0;
    overflow: hidden;
    background-color: #fff;
    max-width:200px;
    position: relative;
}

.selectstyle:after {
    content: "\f123";
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 20px;
    line-height: 35px;
    color: #999;
}

.selectstyle select {
    font-size: 14px;
    padding: 0 8px;
    line-height:35px;
    width: 100%;
    min-width:180px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.selectstyle select:focus {
    outline: none;
}
select{
    width:100%;
}
.select2 {
    min-width: 280px;
}

.select2-container--default .select2-selection--single {
    background-color:#fff;
    border: 1px solid #ccc;
    padding:5px 10px;
    height:auto;
    border-radius:0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top:7px;
}
.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    background-color:#f2f2f2;
    border: 1px solid #e7e7e7;
    height:auto;
    border-radius:0;
}
div.tagsinput span.tag{
    padding:0 5px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #999;
    padding: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: solid 1px #bdbdbd;
    border-radius: 0;
    padding: 0 7px;
    background: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color:#fff;
    border:solid 1px #ccc;
}
.ui-datepicker-title select {
    color: #333;
}

::-webkit-input-placeholder {
    color: #999;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #999;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #999;
}

:-ms-input-placeholder {
    color: #999;
}

[placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translate(300px, 0);
    -moz-transform: translate(300px, 0);
    -ms-transform: translate(300px, 0);
    -o-transform: translate(300px, 0);
    transform: translate(300px, 0);
    opacity: 0;
}

#searchbox {
    text-align: center;
    color:$light-font-color;
}
#searchbox h2{
    max-width: 300px;
    margin: 0 auto 20px auto;
}
#searchbox input[type=text] {
    height: 40px;
    padding: 0 15px;
    border-radius: 0;
    border: solid 1px #ddd;
}
.searchform {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}
#popup-login {
    max-width: 400px;
}
.login-form {
    max-width: 600px;
    margin: 0 auto;
    padding:0 0;
}
.login-form label {
    display: block;
    line-height: 12px;
    font-size: 12px;
    font-weight: 600;
}
.login-form .col-md-6{
    width: 50%;
    float:left;
}
.boxForm {
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
    padding:0 10px;
}
.boxForm span {
    font-size: 12px;
}

.login-form input[type=text],
.login-form input[type=email],
.login-form input[type=password] {
    border: solid 1px;
    border-color: #ccc;
}

.login-form .button {
    min-width: 150px;
    width: 100%;
}

.remember-me {
    overflow: hidden;
    position: relative;
}

.remember-me .checkbox {
    float: left;
    margin: 0 10px;
}

.remember-me label {
    float: left;
}
.input-group-btn > .btn {
    position: relative;
    margin: 0;
    padding: 0;
    height: 35px;
    width: 35px;
    border-radius: 0;
    font-size:10px;
    border:solid 1px #eee;
}
.input-group.order-qty{
    display:flex;
    float:right;
}
input[type=text].input-number{
    height: 35px;
    background: #fff;
    width: 35px;
    border-left: none;
    border-right: none;
    text-align: center;
}
.input-group-btn{
    width: 35px;
}
.help-block{
    font-size:11px;
}
.select-location{
    position:relative;
    padding:0 0 0 15px;
    color:#999;
}
.select-location:after{
    display:none;
}
.select-location i,.date-range i{
    font-size: 20px;
    position:absolute;
    left: 0;
    line-height: 40px;
    color: #999;
}
.select-location i{
    font-size:24px;
    line-height:38px;
}
.selectRange{
    max-width:350px;
    position:relative;
}
.date-range{
    position:relative;
}
.input-daterange input{
    border:none;
}
.searchGo{
    border:none;
    background:none;
    font-size:20px;
    color:#999;
}
.submitOrder[type="submit"]:disabled,.submitOrder.disabled{
    background:#999;
}
.search-form{
    min-width:380px;
}
.search-form .search-input{
    border:none;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background:#fff;
}
.inputgroup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:   auto;
}
.inputgroup input[type=text]{
    padding: 5px;
    height: 32px;
    width: 150px;
    border-radius:0;
    border-right: none;
}
.inputgroup .btn-s {
    line-height: 32px;
    height: 32px;
    border-radius:0;
    border:none;
    background: #e07c0b;
    color: #fff;
}
.inputgroup .btn-s.btn-grey{
    background:#666;
}
#loader-voucher{
    width: 20px; height:20px;
    margin-right:10px;
}