/* ================= HEADER  ==================== */
#top{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position:relative;
  z-index: 999;
}
.header-box{
  background: #f8f6f7;
  border-bottom: 1px solid #e5e5e5;
  padding:5px 0;
}
.stick{
  position: fixed;
  left:0; top:0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
.logo img{
  width: 100%;
}
.logo{
  display:flex;
  align-items: center;
  justify-content: center;
  margin:0 20px 0 0;
  position:relative;
  z-index:1;
  width: 100px;
}
header.stick{
  position: fixed !important;
  left:0; top:0 !important;
  width:100%;
  z-index:1000;
}
header.stick #top{
  display:none;
}
.box-nav{
  padding: 3px 0;
  text-align: right;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  margin-left:30px;
}
.box-nav a{
  color:$font-color;
  font-size: 12px;
}
.box-nav a:hover{
  color:$hover-color;
}
.header-page{
  padding:100px 0;
  color:#fff;
  text-align:center;
}
.header-page h2{
  font-size:30px;
  margin:0;
}
#searchbox{
  position:relative;
  z-index: 100;
}
.tt-menu{
  width:100%;
}
.list-group-item{
  text-align:left;
  color:#999;
}
.list-group-item:first-child{
  border-radius:0;
}
.header-search,#page-header{
  background-image: url(../images/banner.jpg);
}
.header-search{
  padding:3vw 0;
}
.videoBgContainer{
  opacity:0.3;
  top:-150% !important;
}
.videobg{
  padding:3vw 0;
}
.twitter-typeahead{
  width:100%;
}
.list-group{
  margin:0;
}
.top-search{
  display:none;
  margin-left:auto;
}
.top-search .search-form{
  min-width: 280px;
}
.is-sticky .top-search{
    display: block;
    max-width: 280px;
    position: relative;
    margin-left: auto;
}
.is-sticky .twitter-typeahead{
  max-width:280px;
}
.top-search .search-form .search-input{
   border-radius: 100px;
   border: solid 1px #ccc;
    height: 35px;
}