/* ================= NAVIGATION  ==================== */
#navigation{
  display:flex;
  align-items: center;
  justify-content:center;
}
#navigation a:focus{
  color:#363636;
}
nav{
  display:flex;
}
nav ul, nav li{
  list-style: none;
  margin:0;
  padding: 0;
}
nav ul{
  display:flex;
  justify-content:space-around;
}
nav li a{
    color: #363636;
    line-height: 45px;
    display: inline-block;
    font-size:12px;
    padding: 0 10px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
nav li:last-child a{
  border:none;
}
#navigation nav li a:hover,#navigation nav li a.current{
  color:$second-color;
}
footer nav li a{
  @include responsive-font(1.4vw, 14px, 14px);
  border:none;
  font-weight: 400;
  color:#fff;
  line-height:40px;
}
footer nav li a:hover{
  color:$second-color;
}
.box-nav ul{
  list-style:none;
  margin:0;
  padding:0;
}
.box-nav li{
  display:inline-block;
  vertical-align:top;
}
#user-nav a.current{
  font-weight:bold;
  text-decoration:underline;
}
#navigation .logo{
  display:none;
  font-size: 30px;
  margin:0 40px 0 0;
}
header.stick #navigation .logo{
  display:block;
}