
/* ================= RESPONSIVE  ==================== */
.to-right{
  float:right;
}
.mobile{
  display: none;
}
.potrait{
  display: none;
}
.slicknav_menu{
  background: none;
  padding:0;
  float:right;
}
#mobilenav{
  display: none;
}
$tablet: "(min-width: 768px) and (max-width: 1024px)";
$desktop: "(min-width: 1024px)";
$mobile: "(max-width: 768px)";
$iphone: "(max-width: 320px)";
@media #{$tablet} {
    .box-nav a{
      margin:0 2px;
    }
    .subscribe h4{
      font-size:12px;
    }
    nav li a{
      font-size:14px;
    }
    .box-nav-admin{
      display:none;
    }
}

@media #{$mobile} {
  .event-information{
    float:left;
    width:50%;
  }
  .btnAction{
    text-align:left;
  }
  .to-right{
    float:none;
  }
  .container{
    padding:0 10px;
  }
  .mobile{
    display:block;
  }
  .desktop{
    display:none;
  }
  #mobilenav{
    display: block;
  }
  #menu{
    display:none;
  }
  #subscribe{
    display:none;
  }
  #navigation{
    display:none;
  }
  .navigation{
    display:flex;
    align-items:center;
  }
  .slicknav_nav{
    background:#f8f6f7;
    color: #333;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    width:100%;
    text-align: left;
    display:block;
  }
  body main{
  }
  #top{
    overflow:inherit;
  }
  .logo{
    margin:5px auto 5px 0;
  }
  .activenav .slicknav_nav{
  }
  .slicknav_nav li {

  }
  .slicknav_nav a{
    padding:15px 10px;
    line-height: normal;
    margin: 0;
    color: #333;
    background:#f8f7f7;
    font-size: 14px;
    border-top:solid 1px #b6b6b6;
  }
  .slicknav_btn {
      background:none;
      height: 45px;
      width: 45px;
      padding: 0;
      margin: 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 5px;
      top: -50px;
      text-align: center;
  }
  .slicknav_menu{
    float:none;
  }
  .slicknav_menu .slicknav_icon{
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slicknav_menu .slicknav_icon-bar{
    width: 30px;
    height: 3px;
    background: #363636;
    border-radius: 10px;
    margin: 4px 0;
  }
  #footerNav{
    list-style:none;
    margin:0; 
    padding:0;
  }
  #footerNav a{
    color: #363636;
    display: block;
    line-height: 45px;
    padding:0 10px;
    font-size:14px;
  }
  #footerNav a i:before{
    display: inline-block;
    font-size: 20px;
    line-height: 45px;
    margin-right: 5px;
  }
  .header-box .socmed{
    display:none;
  }
  .box-nav{
    margin-left:auto;
  }
  #mobilenav{
    bottom:0;
    left:0;
    z-index: 9999;
    position:absolute;
    top:55px;
    width:100%;
  }
  .owl-carousel .owl-nav .owl-prev{
    left:0;
  }
  .owl-carousel .owl-nav .owl-next{
    right:0;
  }
  .leaderboard{
    width: 96%;
  }
  .ads img{
    max-width:100%;
  }
  .section-ads{
    display:none;
  }
  .event-entry{
    min-height:auto;
  }
  .theContent{
    padding:10px 0;
  }
  .navTab a {
      display: inline-block;
      padding: 8px 10px;
      font-size: 12px;
  }
  .btn-group .btn-grey{
      min-width: 150px;
  }
  .event-box{
    margin-bottom:20px;
  }
  footer .widget{
    margin-bottom:20px;
    text-align:center;
  }
  footer .widget h3{
    margin:0;
  }
  #searchbox{
    max-width:320px;
    margin:0 auto;
  }
  #searchbox input[type=text]{
    margin-bottom: 10px;
  }
  .event-img{
    display:none;
  }
  .btn-search{
    margin: 0 auto 10px auto;
    position:absolute;
    width:40px;
    right:0; top:0;
  }
  .event-meta{
    padding:0 0 10px 0;
  }
  .widget-options{
    margin:0;
  }
  .widget-schedule .widget-list{
    flex-direction:column;
  }
  .widget-schedule .widget-list .colom-right{
    margin-top:10px;
  }
  .widget-schedule{
    text-align:center;
  }
  .row-section-ticket .colom-left{
    margin:0 auto 10px auto;
  }
  .nav > li.shareTab {
      position: fixed;
      bottom: 0;
      width: 100%;
      left: 0;
      background: #fff;
      height: 40px;
      z-index: 9999;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .nav-tabs > li > a{
    font-size:12px;
  }
  .select2{
    min-width:auto;
  }
  .login-form .button{
    min-width: 100px;
  }
  .boxForm{
    margin:0 auto;
  }
  #topnav{
    display:flex;
  }
  #user-nav{
    width:100%;
  }
  #user-nav li{
    display:block;
    text-align:center;
  }
  .widget-form .row .col-md-12,.widget-schedule .widget-list .colom-left{
    width:100%;
  }
  #section-user .titleBox{
    flex-direction: column;
  }
  #section-user .box-nav{
    margin-left:0;
  }
  #section-user .titleBox .title{
    margin:auto;
  }
  .trx-table{
    overflow:auto;
    width:100%;
  }
  .titleBox{
  }
  .row-section-ticket .col3{
    text-align:left;
  }
  span.price{
    font-size: 12px;
  }

  .row-section-ticket .colom-right{
    text-align:right;
  }
  #countdown-block{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 10000;
  }
  #totalPriceBox{
    position: fixed;
    width: 100%;
    top: 47px;
    background: #fff8f2;
    left: 0;
    z-index: 10000;
  }
  .btnPay{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 10000;
  }
  body#payment{
    padding:30px 0 0 0;
  }
  body#payment #mobilenav{
    display:none;
  }
  .booking-cc .col-md-6{
    width:50%;
    float:left;
  }
  .booking-cc .col-md-4{
    width:25%;
    float:left;
  }
  .booking-cc .col-md-8{
    width:75%;
    float:left;
  }
  .slick-slide .event-entry h3{
    font-size: 12px;
  }
  .total-rate{
    margin-left: auto;
  }
  .event-rate{
    text-align:left;
  }
  #homepage.section-mobile .titleBox{
    flex-direction:row;
  }
  .box-nav li.logout-btn{
    display:none;
  }
  .search-form{
    min-width: 265px;
  }
  #search-mobile{
    background: #f8f7f7;
    padding: 10px;
    border-top: solid 1px #b6b6b6;
  }
  #footerNav li a{
    background: #f8f7f7;
    border-top: solid 1px #b6b6b6;
  }
  .tt-menu{
    // top:auto !important;
    // bottom:100%;
  }
  .list-group-item .event-meta{
    width:100%;
  }
  .bgcover{
    background-size: cover;
  }
  .event-list .event-box{
    display:block;
  }
  .event-list .thumb-small{
    float:left;
    min-height:100px;
  }
  .is-sticky .top-search{
    display:none;
  }
  #topnav{
    display:none;
  }
  .header-search{
    padding:30px 0;
  }
  #searchbox h2{
    margin: 0 auto;
    padding: 0 0 10px 0;
    max-width: 250px;
  }
  .mobileCarousels .items{
    width:50%;
    float:left;
    padding:0 5px;
  }
  .mobileCarousels{
    margin:0 -5px;
  }
  .event-entry h3{
    font-size:12px;
  }
  .mobileCarousels .event-entry,.attraction-list .event-entry{
    max-height:35px;
    overflow: hidden;
    min-height:45px;
  }
  .mobileCarousels .event-box{
    margin:0;
  }
  .searchGo {
      border: none;
      background: none;
      font-size: 20px;
      color: #fff;
      width: 45px;
      background: #f4ab54;
      height: 40px;
  }
  #footerNav,#search-mobile{
    display:none;
  }
  .activenav #footerNav, .activenav #search-mobile{
    display:block;
  }
  .is-sticky .twitter-typeahead{
    max-width:100%;
  }
  .footer-top{
    padding:30px 0 0 0;
  }
  .event-list .eventBox{
    padding:10px 0;
    overflow: hidden;
  }
  .title, .subtitle{
    font-size:14px;
  }
  .attraction-list .col-md-3{
    width:50%;
    float:left;
  }
  .attraction-filter{
    display:none;
  }
  #section-attraction .title{
    margin:20px auto 0 auto;
  }
  .chooseTicket .colom-left{
    margin-top:auto;
  }
  .chooseTicket .flex-center{
    display:block;
  }
  .chooseTicket .lowerPrice{
    margin:0;
  }
  p{
    font-size:14px;
  }
  .inputgroup input[type=text]{
    width:100px;
  }
  .thumb-small{
    width:120px;
    max-width:120px;
  }
}
@media #{$iphone} {
  .row-section-ticket{
    flex-direction: column;
    text-align: center;
  }
  .row-section-ticket .col3{
    width:100%;
  }
}
