
/* ================= TYPOGRAPHY  ==================== */
a{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration:none;
}
a:hover{
  text-decoration:none;
}
h1, h2, h3, h4, h5, h6, strong, b {
  font-size:100%;
  line-height: 1.4;
  font-weight: 500;
}
strong, b{
  font-weight: 600;
}
h1{
  @include responsive-font(4vw, 20px, 30px);
}
h2{
  @include responsive-font(3vw, 18px, 22px);
}
h3{
  @include responsive-font(2vw, 16px, 20px);
}
h4{
  @include responsive-font(1.8vw, 16px, 16px);
}
h1 a,h2 a,h3 a,h4 a,h5 a{
  color:$bg-dark;
}
p{ 
  margin: 0 0 20px 0;
  @include responsive-font(1.8vw, 16px, 14px);
  font-weight:400;
}
q:before, q:after {
  content:'';
}
abbr, acronym {
  border:0;
}
.title,.subtitle{
  font-size:22px;
  font-weight:600;
  margin:0;
  margin-right: auto;
  text-transform: capitalize;
  font-family:$title-font;
}
.subtitle{
  @include responsive-font(1.6vw, 16px, 16px);
}
.title i{
  margin:0 5px 0 0;
}
.title-block{
    display: inline;
    background: #000;
    font-family: $title-font;
    max-width: 50%;
}
.big-title{
  @include responsive-font(3vw, 30px, 30px);
  text-align:center;
}
.big-title .title{
  @include responsive-font(3vw, 24px, 24px);
  font-weight:600;
  margin:0;
  text-transform: capitalize;
  position: relative;
  margin-bottom: 30px;
  padding: 0 0 10px 0;
}
.big-title .title:after{
  content:'';
  width: 70px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left:50%;
  margin:0 0 0 -35px;
  background-color:$second-color;
}
.the-title{
  @include responsive-font(3vw, 24px, 36px);
  margin:0;
  font-weight:400;
  font-family: $title-font;
}
.s-title{
  margin:0;
  font-size:14px;
  font-weight:500;
}
.border-title{
  padding: 0 0 10px 0;
  border-bottom: solid 1px #ddd;
  margin-bottom: 20px;
}
.border-title .title{
  margin-right:auto;
}
.date{
  font-size:12px;
  color:#666;
  font-family:$title-font;
}
.panel-title .date{
  color:#fff;
}
.favorite{
  font-size:14px;
  color:#999;
}
.author{
  @include responsive-font(1.6vw, 12px, 12px);
}
.orange{
  color:$second-color;
}
.grey{
  color:#333;
}
.blue{
  color:$primary-color;
}
.cadetblue{
  background-color:cadetblue;
}
.brown{
  background-color:brown;
}
.darkslateblue{
  background-color:darkslateblue;
}
.darkcyan{
  background-color:darkcyan;
}
.chocolates{
  background-color:chocolate;
}
.darkolivegreen{
  background-color:darkolivegreen;
}
.darkslategray{
  background-color:darkslategray;
}
.lightslategrey{
  background-color:lightslategrey;
}
.darkolivegreen{
  background-color:darkolivegreen;
}
.darkorange{
  background-color:darkorange;
}
.steelblue{
  background-color:steelblue;
}
.royalblue{
  background-color:royalblue;
}
.crimson{
  background-color:crimson;
}
.greyblack{
  background-color:#262626;
}
.black{
  background-color:#000;
}