/* ================= WIDGET  ==================== */
.widget-box{
}
.widget-schedule{
	margin-top: 0;
}
.schedule-name{
  text-transform: capitalize;
}
.widget-options .widget-box h3,{
  margin-bottom: 20px;
}
.widget-list{
  border:solid 1px #eee;
  padding: 10px;
  margin:0 0 10px 0;
  display:block;
}
.widget-list h4{
  margin:0;
}
.row-section-ticket{
    padding: 10px;
    border: solid 1px #eee;
    background: #f9f9f9;
    margin: 3px 0;
}
.message-box{
  padding:20px;
  background:#f2f2f2;
}
#approveBox .panel-title{
  padding:10px 15px;
}