@font-face {
    font-family: 'Alte Haas Grotesk';
    src: url('AlteHaasGrotesk_Bold.eot');
    src: url('AlteHaasGrotesk_Bold.eot?#iefix') format('embedded-opentype'),
        url('AlteHaasGrotesk_Bold.woff2') format('woff2'),
        url('AlteHaasGrotesk_Bold.woff') format('woff'),
        url('AlteHaasGrotesk_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

