#page-soundrenaline .event-meta{
	padding: 0;
}
#page-soundrenaline .event-meta h1{
    font-family: 'Pangram';
	font-size: 35px;
	text-transform: uppercase;
    font-weight: 400;
    color:#fff;
}
.schedule-name{
    /*font-family: 'BebasNeueRegular';*/
    font-family: 'Pangram';
	font-size: 26px;
    color: #FF0013;
    text-transform: uppercase;
    letter-spacing: 5px;
}
#section-details{
	background-image: url(../images/new-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
}
.soundre-fixleft-bot{
	background-image: url(../images/pattern-1.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
    bottom: -47px;
    left: 0;
    width: 200px;
    height: 200px;
}
.soundre-fixright-bot{
	background-image: url(../images/ornamen-1.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
    bottom: -59px;
    right: 0;
    width: 200px;
    height: 200px;
}
#page-soundrenaline #eventview{
	background: transparent;
	color: #fff;
	padding: 20px;
	position: relative;
	z-index: 10;
}
.event-image{
	box-shadow: 0 0 20px rgba(0,0,50,0.2);
}
.widget-schedule{
	background: transparent;
	position: relative;
	z-index: 10;
	color: #fff;
}

.booking-header{
	background: transparent;
    font-family: 'Pangram';
    text-transform: capitalize;
	font-size: 20px;
    font-weight: 400;
    color:#FF0013;
    border-top: solid 1px #555;
    border-bottom: solid 1px #555;
    border-left: none;
    border-right: none;
    padding: 20px 20px;
    line-height: 22px;
}
.chooseTicket{
	color: #fff;
}
.widget-list{
	border: none;
}
.date{
	color: #fff;
}
.chooseTicket:hover{
	background-color: transparent;
	color: #fff;
}
.input-group.order-qty button, .input-group.order-qty input{
	background-color: transparent;
	color: #fff;
}
.widget-list{
	margin:0;
	padding:10px 20px;
}
.row-section-ticket {
    padding: 10px;
    background: none;
    margin: 0 10px;
    border: none;
}
.booking-detail{
	background: transparent;
    font-family: 'Pangram';
	font-size: 22px;
    font-weight: 400;
    color:#fff;
}
.booking-footer{
    font-size: 18px;
    border: none;
    border-bottom: none;
    font-weight: 400;
    color: #fff;
}
.total-price{
    font-weight: 400;
    color: #333;
}
.booking-section{
	border:none;
	padding: 10px 20px;
    background: #eee;
    color: #333;
}
.section-name{
	display: none;
}
.artists span, .venue-name{
    color: #fff;
    text-decoration: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background: #FF0013;
    color: #fff;
}
.submitOrder.disabled, .submitOrder[type=submit]:disabled:hover{
	color: #fff;
}
.submitOrder.disabled, .submitOrder[type=submit]:disabled{
	margin-top: 30px;
}
.nav-tabs>li.active>a, .nav-tabs>li>a:focus{
    background: #FF0013;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}
.nav-tabs>li>a{
	background: transparent;
    color: #fff;
    font-family: pangram;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 0;
    font-weight: normal;
    border: solid 1px #FF0013!important;
}
.nav-tabs>li>a:hover{
	text-decoration: none;
}
.button{
    font-family: 'Pangram';
	background: #FF0013;
	font-size: 22px;
    font-weight: 400;
    color:#fff;
    height: 50px;
    line-height: 44px;
}
#btnPayBox>button:hover{
	background-color: transparent;
	border: solid 1px #FF0013;
}
.button.btn-add{
	font-size: 18px;
    font-weight: 400;
    border: solid 1px #FF0013;
}
.submitOrder {
    height: 60px;
    line-height: 54px;
}
.submitOrder.disabled, .submitOrder[type=submit]:disabled{
	background: #FF0013;
}
.event-image:after{
	background: url(../images/tape_right.png) no-repeat;
	content: '';
	display: none;
	position: absolute;
	left: -40px;
	bottom: -40px;
	width: 182px; height: 106px;
}
.widget-options{
	position: relative;
}
.widget-options:before{
	background: url(../images/tape_left.png) no-repeat;
	content: '';
	display: none;
	position: absolute;
	top: -40px;
	right: -50px;
	width: 190px; height: 141px;
}
#page-soundrenaline .payment-detail{
	padding-bottom: 100px;
}
.payment-detail{
	position: relative;
}
.payment-detail:after{
	background: url(../images/ornamen-2.png) no-repeat;
	background-position: center;
	background-size: cover;
	content: '';
	position: absolute;
	top: 150px;
	right: -125px;
	width: 200px; height: 355px;
}
.payment-detail:before{
	background: url(../images/ornamen-1.png) no-repeat;
	background-position: center;
	background-size: cover;
	content: '';
	position: absolute;
    bottom: -35px;
    left: -45px;
    width: 260px;
    height: 200px;
}
.payment-detail .widget-options:before{
	display: none;
}
.payment-detail .event-meta{
	display: none;
}
.payment-detail .widget-options{
	background: transparent;
	position: relative;
}
.payment-detail .widget-options h3{
    font-family: 'Pangram';
	background: transparent;
	color: #FF0013;
	font-size: 18px;
	font-weight: 400;
	padding: 0 10px;
    line-height: 40px;
    text-transform: uppercase;
}
.widget-body{
	color: #fff;
}
.inputgroup .btn-s{
	background: #9f263d;
}
.accordion-border .panel-title a:after{
	color: #555;
}
.panel-title a, .panel-title a:focus, .panel-title a:hover{
	background-color:transparent;
    font-family: 'Pangram';
	font-size: 20	px;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
	color: #fff;
	font-family: pangram;
}
#countdown-block{
	background: #9f263d;
}
#countdown-block h3{
    font-family: 'Pangram';
	font-size: 20px;
    font-weight: 400;
    color:#fff;
}
.order-detail{
	border:none;
}
.colom-left{
	margin-bottom: auto;
}
.payment-detail .ticket-name{
	background: url(../images/ticket.png) no-repeat;
    display: inline-block;
    padding: 45px 0 0 0;
}
.payment-detail .booking-detail{
	background: none;
	color: #363636;
}
.payment-detail .booking-section{
	border-bottom: solid 1px #555;
	color: #fff;
	padding: 10px;
	background: none;
}
.payment-detail .total-price{
	color: #fff;
	font-weight: 400;
}
.inputgroup .btn-s.btn-grey, #countdown-block{
	background-color: #FF0013;
}
.payment-detail .total-price strong{
	font-weight: 400;
}
.payment-detail .row-section-ticket{
	margin:0;
}
.payment-detail .payMentBox{
/*	box-shadow: 8px 8px 2px rgba(0,0,50,0.2), 0 0 20px rgba(0,0,50,0.2);
*/	margin-left: 70px;
	box-shadow: none;
}
.popup-header{
	background: #fff;
    font-family: 'Pangram';
	font-size: 22px;
    font-weight: 400;
    color:#FF0013;
    padding: 10px 20px;
}
.popup-header h3{
	font-size: 24px;
}
form .button{
	border: solid 1px #FF0013;
}

.booking-section form label, .booking-section form input, .event-description, .event-detail #tnc, .event-venue{
	font-family: pangram;
}
form .button:hover, form .button:focus{
	border: solid 1px #FF0013;
	color: #FF0013;
	background: none;
}
.login-form .button{
	border: solid 1px #FF0013;
	color: #FF0013;
	background: none;
}
.login-form .button:hover{
	color: #fff;
	background: #FF0013;
	border: solid 1px #FF0013;
}
.login-form .button,.socialLogin .button{
	border-radius: 0;
	height: 44px;
    line-height: 35px;
}
.socialLogin .button{
	line-height: 44px;
}
.mfp-close-btn-in .mfp-close{
	top: 0;
}
.btn.btn-link{
	color: #353535;
}
#page-soundrenaline .thanksPage{
	background: transparent;
    color: #fff;
    padding:7px;
    position: relative;
}
/*#page-soundrenaline .thanksPage:before{
	content:'';
	background:url(../images/thanks.png) no-repeat;
	width: 38px; height: 158px;
	position: absolute;
	display: block;
	left: -38px;
	top: 0;
}*/
#page-soundrenaline .thanksPage  .howTo-pay{
    background: transparent;
	color: #fff;
	position: relative;
	z-index: 100;
	font-family: pangram;
}
.thxright{
    position: absolute;
    content: '';
    bottom: 200px;
    right: -65px;
    width: 400px;
    height: 200px;
    background: url(../images/ornamen-4.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.thxleft{
    position: absolute;
    content: '';
    top: 50%;
    left: -150px;
    width: 300px;
    height: 500px;
    background: url(../images/ornamen-3.png) no-repeat;
    background-size: cover;
    background-position: center;

}
.widget-head{
	border: none;
}
.accordion-border .panel-title a.collapsed{
	background: transparent;
	color: #fff;
}
.panel{
	box-shadow: none;
}
.panel-default>.panel-heading, .panel{
	background-color: transparent;
}
.panel-default>.panel-heading:hover{
	background-color: transparent;
}
.panel-default>.panel-heading{
	border-bottom: solid 1px #555;
}
#page-soundrenaline .thanksPage .widget-head{
    border: none;
    background: transparent;
    font-family: Pangram;
    position: relative;
}
#page-soundrenaline .thanksPage .widget-head:before{
	position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: url(../images/ornamen-5.png) no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
}
#page-soundrenaline .thanksPage .widget-head h3{
    margin: 0;
    text-transform: capitalize;
    font-size: 26px;
    font-weight: 400;
    line-height: 33px;
    position: relative;
    z-index: 100;
}
#page-soundrenaline .thanksPage .widget-head h3 .orange {
    color: #FF0013;
    text-transform: uppercase;
    background: none;
    padding: 0 15px;
    width: 300px;
    text-align: center;
    display: block;
    margin: 15px auto 15px auto;
    height: 30px;
}
.thanksPage .widget-options:before,.thanksPage .event-image:after{
	display: none;
}
#page-soundrenaline .thanksPage .event-image{
    background: url(../images/bg_image.png) no-repeat center;
    width: 324px;
    height: 172px;
    margin:30px auto;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}
#page-soundrenaline .order-detail .thumb img{
    margin: 0;
    width: 185px;
    border: solid 8px #d5d5d5;
}
#page-soundrenaline .thanksPage .event-meta{
	display: none;
}
#page-soundrenaline .thanksPage .widget-body{
	color: #333;
}
#page-soundrenaline .thanksPage .widget-body .greybox {
    padding: 10px;
    text-align: center;
    background: transparent;
    border: solid 1px #FF0013;
    border-radius: 0;
    margin-bottom: 10px;
    color: #fff;
    font-family: pangram;
}

.widget-body .colom-left>span{
	color: #FF0013!important;
}
.widget-body .center{
	color: #fff;
}
#page-soundrenaline .thanksPage .widget-body .greybox h3{
	font-size: 24px;
    font-family: Pangram;
    font-weight:400;
}
#page-soundrenaline .thanksPage .widget-body .greybox h3 strong{
	font-weight: 400;
	font-family: Pangram;
}
#countdownExpPay, .center h4>strong{
	font-family: Pangram;
}
#page-soundrenaline .lowerPrice{
	display: none;
}
@media (max-width: 667px){
	.payment-detail .payMentBox{
		margin:0;
	    margin-top: 60px;
	}
	.payment-detail .widget-options h3{
		position: relative;
		transform: none;
		left: auto;
		top: auto;
	}
	#page-soundrenaline .btnPay{
		position: relative;
   		padding: 0;
	}
	.widget-options:before{
		display: none;
	}
	.event-image:after{
		display: none;
	}
}

@media (max-width: 768px){
	#totalPriceBox {
	    top: 47px;
	    background: #ddd;
	    color: #333;
	}
	.payment-detail .total-price{
		color: #333;
	}
	.payment-detail:before, .payment-detail:after, .soundre-fixright-bot, .soundre-fixleft-bot{
		display: none;
	}
	.booking-header{
		font-size: 16px;
	}
}
