/*===== RESET ======*/
nav li a{
    font-size: 12px;
    padding: 0 10px;
}
.mb-banner{
	display: none;
}
.top-search .search-form .search-input{
    height: 30px;
}
.twitter-typeahead>input[type=text]{
	font-size: 12px;
}
.socmed a{
	width: 25px;
    height: 25px;
}
.box-nav{
    margin-left: 10px;
}
.is-sticky .twitter-typeahead {
    max-width: 200px;
}
.navTab{
	padding-bottom: 20px;
}
/*=================*/
.ag-banner{
	background-color: #163478;
	position: relative;
	z-index: -10;
	overflow: hidden;
}
.ag-lang{
	display: inline-block;
	margin-right: 20px;
}
.ag-lang span{
	vertical-align: middle;
}
.ag-lang a{
	font-size: 12px;
	font-weight: 600;
}
.ag-lang .active{
	color: #ea9a3f;
}
.energyasia{
    max-width: 280px;
    position: absolute;
    top: 40px;
    left: 230px;
}
.ag-title-banner{
	position: absolute;
    right: 0;
    bottom: 30px;
}
.ag-title-banner h3{
    color: #163478;
    font-weight: 600;
    text-align: right;
    background: #ffd700;
    padding: 0px 25px;
    font-size: 30px;
    margin: 8px 0;
    letter-spacing: 2px;
}
}
.energyasia{
    max-width: 250px;
    position: absolute;
    top: 40px;
    left: 200px;
}
.icon-left{
	position: absolute;
    left: 50px;
    bottom: -25px;
}
.ag-banner-right{
	position: absolute;
    right: 0;
    bottom: -75px;
    z-index: -1;
}
.ag-listpng>img	{
	width: 100%;
	display: inherit;
}
.leftBox, .rightBox{
	position: relative;
}
.box-ag-6 img{
	width: 100%;
}
.ag-corner-logo{
	width: auto!important;
	position: absolute;
}
.logoLeft{
	right: 0;
	top: 0;
}
.logoRight{
	left: 0;
	top: 0;
}
.ag-absoluteText{
	position: absolute;
	color: #fff;
	margin: 0 0;
	font-size: 28px;
}
.ag-absoluteText strong{
	font-weight: 700;
}
.text-lefts{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-40%, -50%);
    transform: translate(-40%, -50%);
    width: 100%;
    text-align: left;
}
.text-rights{
    top: 50%;
    right: -30%;
    -webkit-transform: translate(-40%, -50%);
    transform: translate(-40%, -50%);
    width: 100%;
    text-align: right;
}
.box-ag-3{
	position: relative;
    overflow: hidden;
    cursor: pointer;
}
.ag-title-sports, .ag-buy{
	color: #fff;
}
.ag-title-sports{
	position: absolute;
	margin: 0 0;
	top: 20px;
	left: 20px;
	font-weight: 700;
}
.ag-buy{
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.ag-buy:hover, .ag-btn:hover, .ag-link-loc:hover{
	color: #f49200;
}
.ag-icon-sports{
}
.ag-icon-sports img{
	width:100%;
}
.redBox{
	background-color: #eb355b;
}
.purpleBox{
	background-color: #7e2388;
}
.yellowBox{
	background-color: #f49200;
}
.greenBox{
	background-color: #93c42e;
}
.blueBox{
	background-color: #202c60;
}
.pd5{
	padding: 5px 5px;
}
.ag-table-schedule th, .ag-table-schedule tr, .ag-table-schedule td{
	text-align: center;
	border: solid 1px #fff;
}
.ag-btn{
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 50px;
    font-size: 12px;
}
.danger{
	background-color: #eb212e;
	color: #fff;
}
.primari{
	background-color: #3293cd;
	color: #fff;
}
.icon-schedule{
	text-align: center;
	font-size: 14px;
}
.greydark{
	background-color: #ebebeb;
}
.greylight{
	background-color: #f8f7f7;
}	
.ag-notes-opt{
	margin: 0 5px;
}
.ag-notes-opt ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-bottom: 0;
    padding: 0 0;
}
.ag-notes-opt li{
	margin: 0 5px;
	line-height: 15px;
}
.ag-notes-opt ion-icon{
	font-size: 18px;
    color: #666;
}
.ag-box-location{
	position: relative;
	width: 100%;
	height: 100%;
	display: inline-block;
	min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    background: #202c60;
}
.ag-box-location img{
	width: 100%;
	position: relative;
}
.ag-box-location .ag-overlay-img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}
.ag-title-loc{
	position: absolute;
    top: 30px;
    left: 20px;
    max-width: 80%;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
    margin: 0 0;
}
.ag-link-loc{
	position: absolute;
    bottom: 30px;
    left: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
.ag-link-loc ion-icon{
	vertical-align: middle;
}
.ag-cat-banner{
	position: relative;
}
.ag-cat-banner img{
	width: 100%;
}
.ag-content-category{
	position: absolute;
    top: 20%;
    left: auto;
    max-width: 50%;
}
.ag-title-cat{
    color: #fff;
    text-transform: capitalize;
}
.ag-title-cat>h1{
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 45px;
}
.ag-desc-cat{
	color: #fff;
}
.ag-desc-cat>p{
	font-size: 15px;
}
.ag-seating-section{
	padding: 40px 0;
}
.ag-seating-title>h2{
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 600;
}
.ag-seating-header{
	display: flex;
    justify-content: space-around;
    line-height: 30px;
    border: solid 1px #333;
    padding: 15px 0;
}
.ag-seating-header h3, .ag-seating-header p{
	margin-bottom: 0;
	margin-top: 0;
}
.ag-seat-qty, .ag-seat-no{
	display: flex;
	align-items: center;
}
.ag-seating-header p{
	text-transform: capitalize;
}
.ag-seat-detail>h3{
	font-weight: 600;
    text-transform: capitalize;
}
.ag-seat-class>h3{
	text-transform: uppercase;
	font-weight: 600;
}
.ag-seat-qty>p, .ag-seat-no>p{
	margin-right: 10px;
}
.ag-seat-check{
	border: solid 1px #333;
    padding: 20px 0;
    margin: 20px 0;
}
.ag-status-seat{
	margin-bottom: 20px;
}
.ag-status-seat ul{
	list-style-type: none;
	margin-bottom: 0;
	padding-left: 0;
	justify-content: space-evenly;
}
.ag-status-seat li{
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: 600;
}
.checkseat{
	width: 20px;
    height: 20px;
    border: solid 1px #333;
    border-radius: 4px;
    margin-right: 10px;
    display: inline-block;
}
.greyseat{
	background-color: #ccc;
}
.yellowseat{
	background-color: #f4ab54;
}
.ag-field{
	background-color: #ccc;
	border-radius: 20px;
	border: solid 1px #333;
	margin-top: 20px;
}
.ag-field>h5{
	margin: 0 0;
	padding: 5px 0;
	text-transform: uppercase;
	text-align: center;
}
.ag-seat-wrap{
	max-width: 80%;
	margin: auto;
}
.ag-seat-order{
	max-width: 50%;
	margin: auto;
}
.seat-submit{
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    background-color: #f4ab54;
    width: 100%;
    border: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
}
.ag-banner-left{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
}
.ag-img-banner{
	height: 300px;
	position: relative;
}

/*============== RESPONSIVE ====================*/
@media (min-width: 812px){
/*	#mobilenav{
		display: block;
		    bottom: 0;
    left: 0;
    z-index: 9999;
    position: absolute;
    top: 55px;
    width: 100%;
	}
	#navigation{
		display: none;
	}*/


	/*.logo{
		width: 70px;
	}
	.socmed>.ag-lang a{
		font-size: 11px!important;
	}
	.ag-lang{
		margin-right: 5px;
	}
	.socmed a{
		font-size: 16px;
	    width: 22px;
		height: 22px;
	}
	.btn-s{
		font-size: 10px;
	}*/
}

@media (max-width: 768px){
	.ag-title-banner h3{
		font-size: 20px;
	}
	.energyasia{
	    max-width: 280px;
		top: 20px;
		left: 100px;
	}
	.ag-banner-right{
		width: 100%;
		 bottom: 0;
	    z-index: -1;
	    max-width: 360px;
	}
	.ag-logo{
	    margin: 5px 10px 0 0;
	}
}

@media (max-width: 736px){

	.btn-group .btn-grey {
    	min-width: 110px;
	}
	.ag-icon-sports {
	 	position: relative; 
	 	bottom: 0; 
	 	right: 0; 
		width: 100%;
	}
	.ag-absoluteText{
		font-size: 24px;
	}
	.ag-btn {
    	padding: 3px 7px;
    	font-weight: 600;
    	border-radius: 50px;
    	font-size: 10px;
	}
	.ag-notes-opt li{
		font-size: 10px;
	}
	ion-icon .icon-inner{
		font-size: 14px;
	}
}

@media (max-width: 414px){
	.ag-banner-left, .icon-left, .ag-banner-right, .energyasia{
		display: none;
	}
	.mb-banner{
		display: block;
		width: 100%;
	}
	.ag-img-banner{
		height: auto;
	}
	#sticky-anchor .ag-lang{
		display: inline-block;
	}
}

@media (max-width: 360px){
	.ag-absoluteText {
    	font-size: 16px;
	}
}

@media (max-width: 320px){
	.ag-title-banner h3 {
    	font-size: 14px;
	}
	.ag-absoluteText {
    	font-size: 15px;
	}
	.navTab a{
		font-size: 10px;
	}
	.btn-group .btn-grey {
    	min-width: 80px;
	}
}