
// Body
$bg-primary: #2e3171;
$bg-light: #e6e7e8;
$bg-dark: #333;
$bg-trans-primary:rgba(98,169,29,0.3);

// Brands
$primary-color:#2e3171;
$second-color:#ea9a3f;
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;
$light-color:#fff;

// Typography
$primary-font: 'Montserrat', sans-serif;
$title-font:'Montserrat', serif;
$font-size-xl:4vh;
$font-size-l:3vh;
$font-size-m:2vh;
$font-size-s:1.6vh;
$font-size-xs:1.4vh;
$line-height-base: 1.6;
$font-color: #363636;
$hover-color: #f07700;
$light-font-color:#fff;
$dark-font-color:#333;
