/*!
 * Theme Name: KIOSBUZZ
 * Authors: Acit Jazz 
 */
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,600,700,900');
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "node_modules/rateyo/src/jquery.rateyo";

body,html{
	margin:0; height: 100%;
}
// Components
@import "vendor/ionicons/scss/ionicons";
@import "vendor/brand/style";
@import "vendor/owlcarousel/owl.carousel.min";
@import "../js/components/select2/select2.min";
@import "../js/components/magnific-popup/magnific-popup";
@import "../js/components/slicknav/slicknav";
@import "../js/components/datepicker/css/bootstrap-datepicker";
@import "../js/components/confirm/jquery-confirm.min";
@import "../js/components/datetimepicker/css/bootstrap-datetimepicker";
@import "../js/components/daterangepicker/daterangepicker";
@import "../js/components/slick/slick";
@import "../js/components/slick/slick-theme";
@import "snippets/responsive-font";
@import "snippets/effect";
@import "snippets/datepicker";
@import "snippets/form";
@import "snippets/typography";
@import "snippets/navigation";
@import "snippets/accordion";
@import "snippets/button";
@import "snippets/header";
@import "snippets/loader";
@import "snippets/popup";
@import "snippets/ads";
@import "snippets/widget";

*{
	outline: none !important;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased !important;
}
body{
	color:$font-color;
	font-family: $primary-font;
    @include responsive-font(1.8vw, 14px, 14px);
    background-color:#fff;
}
main{
	margin-bottom: auto;
}
iframe{
	display: block;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding:0 5px;
}
.row{
	margin:0 -5px;
}
.container{
	max-width:1170px;
	padding:0 5px;
}
.center{
	text-align:center;
}
.center tr,.center td,.center th{
	text-align:center;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.bgcover{
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.w800{
	max-width:800px;
	margin:0 auto;
}
.w400{
	max-width:400px;
	margin:0 auto;
}
.col3{
	width: 33.333%;
}
/* ======================= FLEX LAYOUT  ========================= */ 
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-box{
	display:flex;
    align-items: center;
}
.flex-column{
  display: flex;
}
.flex-row{
  flex-direction:column;
}
.flex{
	display:flex;
}
.pull-right{
	margin-left:auto;
}
.colom-left{
	margin-right:auto;
}
/* ======================= SECTION ========================= */ 
.section{
	padding:20px 0;
}
.titleBox{
    border-bottom: solid 1px #ccc;
    padding: 0 0 5px 0;
    margin-bottom: 20px;
}
.titleBox.no-border{
	border:none;
}
.titleBox a.seeAll{
	color:#ea9a3f;
	text-decoration:none;
}
.filterBox{
    border-bottom: solid 1px #eee;
    padding: 0;
    margin: 0 0 10px 0;
}
.no-border{
	border:none;
}
.no-margin{
	margin:0;
}
.navTab a{
	display:inline-block;
}
.navTab{
	text-align:center;
	padding:20px 0 0 0;
}
.navTab p{
	margin:0;
}
.btn-group{
	margin-bottom:10px;
}
.label-tag{
	background:#ea9a3f;
}
/* ======================= EVENT ========================= */ 
.event-image{
	margin-bottom:10px;
}
.event-entry h3{
	margin:0;
	font-size:16px;
}
.entry-blog h3{
	min-height:80px;
}
.LatestBLog .list-body{
	margin-bottom:10px;
}
.event-location{
	display:block;
	font-size:14px;
}
.event-detail label{
	min-width:80px;
	font-weight:normal;
}
.event-description{
	padding:20px 0;
}
.event-meta{
	padding:0 0 20px 0;
}
.jq-ry-container{
	padding:0;
}
.event-rating label,.event-review label{
	margin-left: auto;
}
.event-rating span,.event-review span{
	min-width:40px;
	display:inline-block;
	text-align:right;
}
.event-rate{
	margin-left:auto;
	text-align: right;
}
.total-rate{
	margin-left:5px;
}
.event-rates{
	font-size: 14px;
	color: #888;
	display: flex;
	justify-content: space-between;
}
.event-meta h1{
	margin:0;
	font-size:20px;
	text-transform:capitalize;
	font-weight:700;
}
.eventBox{
	border-bottom:solid 1px #eee;
	padding:10px;
	display:block;
	color:#333;
}
.chooseTicket{
	color:#333;
}
.eventBox:hover,.chooseTicket:hover{
	background:#fff5ea;
	color:#333;
}
.event-entry{
	min-height:75px;
}
.event-img{
	width:65px;
	float:left;
	margin: 0 15px 0 0;
}
.event-img img{
	width:100%;
}
.moreContent {
  max-height: 6em; /* (4 * 1.5 = 6) */
  overflow: hidden;
}
.moreContent p{
	font-size: 13px;
}
.readmore-content{
	margin-top: 10px;
    color: #363636;
    text-decoration: underline;
    font-weight: bold;
}
.list-group-item{
	clear:both;
	display:block;
	overflow: hidden;
}
.list-group-item .event-meta{
	float:left;
	padding:0;
	width:70%;
}
.eventTitle{
	font-weight:bold;
}
.eventBox .event-entry{
	min-height:inherit;;
	margin-right:auto;
}
.eventBox .thumb-small{
	margin-bottom:0;
}
.venue-name,.artists span{
	color:#363636;
	text-decoration:underline;
	font-weight:bold;
}
.venue-name .date{
	color:#363636;
	font-size:14px;
}
.widget-options {
	margin-left:30px;
}
.widget-options h3{
	margin:0;
	text-transform:capitalize;
	font-size:18px;
	font-weight:700;
}
.view-schedule{
	display: block;
	font-size: 12px;
	padding: 5px;
	text-align: center;
	background: #eee;
	color: #333;
}
.priceBox{
	color:#ea9a3f;
	margin:0;
}
.lowerPrice{
	font-size:14px;
	line-height:24px;
	margin:0 10px 0 0;
	color: #777;
	display:inline-block;
}
.btnAction{
	text-align:center;
	display:flex;
}
span.price{
	display:block;
	font-size:14px;
	font-weight:600;
}
span.price.has-discount{
	font-size: 14px;
    color: #999;
    text-decoration: line-through;
}
a.btn-line{
	text-decoration:underline;
	color:#333;
}
.well {
    min-height: 20px;
    padding: 0;
    margin-bottom: 20px;
    background-color: #fff;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 15px;
    border-top: solid 1px #ddd;
    margin: 20px 0 0 0;
}
.countrybox{
	display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
	background:#000;
}
.countrybox img{
	opacity:1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.countrybox:hover img{
	opacity:0.7;
}
.countrybox h3{
	position:absolute;
	width: 100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
    color: #fff;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}
.rowbtn{
	padding:30px 0;
}
.post-meta{
	margin-right:auto;
}
.post-meta h3{
	font-size: 12px;
}
.LatestList{
	margin-top: 20px;
}
.LatestList .list-body{
	margin-bottom: 10px;
}
.LatestList .list-body .thumb-small{
	max-width:100px;
}
.has-border{
	border-bottom: solid 1px #eee;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.greybox{
	padding:10px;
	text-align:center;
	background:#eee;
	border-radius:5px;
	margin-bottom:10px;
}
.thanksPage{
	max-width:600px;
	margin:0 auto;
}
.pagination.list-pagination{
	margin:0;
	display:block;
}
.pagination > li > a, .pagination > li > span{
	color:#2d3171;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
	background-color: #2d3171;
    border-color: #2d3171;
}
/* ======================= ACCORDION ========================= */ 
.panel-title a.collapsed{
	background:#2d3171;
}
.accordion-border .panel-title a.collapsed{
	background:#fff;
	color:#333;
}
.accordion-border .panel-title a:after{
	color:#333;
}
/* ======================= TAB ========================= */ 
.tab-content{
	padding:20px 0 0 0;
	clear: both;
}
.nav-tabs {
	border:none;
	display:flex;
	align-items:center;
}
.nav-tabs > li{
	margin:0;
	text-align:center;
}
.nav-tabs > li.shareTab{
	margin-left:auto;
}
.nav-tabs > li > a{
	padding:5px 0;
	color:#363636;
	text-transform:capitalize;
	border-radius:0;
	position:relative;
	border:none;
	font-family:$title-font;
    font-size: 16px;
    margin: 0 40px 0 0;
    font-weight: 700 !important;
    border:none !important;
}
.nav-tabs > li > a:hover,.nav-tabs > li > a:focus,.nav-tabs > li.active > a{
	border:none;
	background:none;
	text-decoration: underline;
}
#venueList ul{
	margin:0; padding: 0; list-style: none;
}
.event-description table{
	border:solid 1px #ddd;
}
.event-description table th,.event-description table td{
	padding:5px 10px;
}
/* ======================= THUBMNAIL ========================= */ 
.is-circle{
	border-radius: 50%;
}
.thumb{
	display:block;
	position: relative;
}
.thumb img{
	width:100%;
}
.order-detail .thumb img{
	max-width:300px;
	margin-top:20px;
}
.thumb-small{
	min-width:100px;
	width:200px;
	max-width: 200px;
}
.flex-center .thumb-small{
	margin-right:15px;
}
.thumb-user{
	width:100px;
	height:100px;
	min-width: 100px;
}
.thumb.thumb-user{
	overflow: hidden;
}
a.caption.thumb-user{
    top: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100px;
    height: 100px;
    border: none;
    padding: 0 20px;
    text-align: center;
    color:#fff;
}
.thumb.thumb-user:hover .caption.thumb-user{
	top:0;
}
.thumb-avatar .caption{
	font-size: 12px;
	text-align:center;
	color:#fff;
}
.caption{
	position: absolute;
	width:100%;
	z-index: 10;
	left:0; top:0;
	color:#fff;
	padding:15px;
	margin:0;
	font-size:14px;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
	bottom:0;
	top:auto;
	background:#999;
}
.caption-full{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgPreview{
	max-width:200px;
	margin:0 auto;
}
/* ======================= PANEL ========================= */ 
.panel-group .panel{
	border-radius:0;
	border:none;
}
.theContent{
	padding:30px 0;
}
/* ======================= WIDGET ========================= */ 
.widget{
	margin-bottom:30px;
	font-size:14px;
}
footer .widget{
	margin:0;
}
.widget-head{
    border-bottom: solid 1px #eee;
    padding:20px;
}
.widget-head p,.widget-body p{
	margin:0;
}
.widget-body{
	padding:20px;
}
.widget-title h3{
	margin:0 0 15px 0;
	font-size:16px;
	text-transform:capitalize;
}
.widget-title a{
	color:#fff;
}
.widget-content ul{
	margin:0; padding:0;
	list-style:none;
}
.widget-content li a{
	color:#fff;
}
.sharebox ul{
	margin:0; padding:0;
	list-style: none;
}
.sharebox li{
	list-style:none;
	display:inline-block;
	vertical-align:top;
}
.sharebox a{
	display:block;
	padding:0 5px;
	text-align:center;
}
.order-detail .sharebox a{
	font-size:24px;
}
.sharebox a i:before{
}
.share-box ul li:first-child{
	display:none;
}
.howTo-pay h4{
	margin:0 0 10px 0;
}
.howTo-pay{
	padding:20px;
	text-align:left;
	background:#f1f1f1;
}
.howTo-pay ul{
	margin:0px;
	padding:0 0 0 20px;
}
.accordion-border .panel-title a.sectionBtn{
	display:flex;
	justify-content:center;
	align-items:center;
}
.sectionBtn img{
	margin-left:auto;
	margin-right:20px;
}
.event-information{
	width:100%;
	margin:0 auto 0 0;
}
/* ======================= COMMENT ========================= */ 
.author{
	color:#000;
}
.thumb-author{
	min-width:50px; min-height:50px;
	width:50px;
	max-width: 50px;
	margin-right: 20px;
}
.box-author{
	margin-bottom:10px;
}
.comment-box{
	padding:20px;
}
.box-comment{
	padding:0 0;
}
.box-comment textarea{
	border:solid 1px #ccc;
	padding:10px;
}
#newComment{
	border-bottom:solid 1px #ddd;
}
.comment-form{
	padding-bottom: 20px;
}
.replybox .comment-form{
	padding:10px 0 0 0;
	border:none;
}
.comment-form small{
	display: block;
	font-size:10px;
	margin:0 0 20px 0;
}
.comment-list{
	border-bottom:solid 1px #ddd;
	padding:15px 0;
}
.comment-list:last-child{
	border:none;
}
.comment-list .thumb{
	margin-bottom:auto;
}
.comment-container{
	width:100%;
}
.coment-body{
	font-size:14px;
	padding:10px 0;
}
.comment-head .date{
	margin-left:auto;
}
.coment-footer a{
    color: #8c8c8c;
    font-size: 12px;
    margin-right: 20px;
}
.coment-footer a:hover{
	color:#333;
}
.coment-footer a i{
	font-size:14px;
	margin-right:3px;
}
.replyComment{
	padding:0 0 0 70px;
	border-bottom:solid 1px #ddd;
}
/* ======================= DATEPICKER ========================= */ 
.datetimepicker td, .datetimepicker th {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: none;
}
.glyphicon{
	font-family: "Ionicons" !important; 
}
.icon-arrow-left:before { content: "\f124"; }

.icon-arrow-right:before { content: "\f125"; }
.datetimepicker table tr td.active, .datetimepicker table tr td.active:hover, 
.datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled:hover,
.datetimepicker table tr td span.active, .datetimepicker table tr td span.active:hover, 
.datetimepicker table tr td span.active.disabled, .datetimepicker table tr td span.active.disabled:hover,
.datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover:active,
.datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover:active, 
.datetimepicker table tr td.active.active, .datetimepicker table tr td.active:hover.active, 
.datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled:hover.active,
.datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover:active, 
.datetimepicker table tr td span.active.disabled:active, 
.datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active.active, 
.datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active.disabled.active, 
.datetimepicker table tr td span.active.disabled:hover.active{
	background:#f5ab54;
	color:#000;
}
/* ======================= BOOKING DETAIL ========================= */ 
.booking-header{
	background: #eee;
    padding: 10px;
    font-weight:bold;
    border:solid 1px #ddd;
}
.booking-detail{
	background:#fff8f2;
}
.booking-result{
	max-width:400px;
	margin:30px auto;
	text-align:left;
}
.booking-detail p{
	margin:0;
}
.booking-head{
	padding:15px;
	border:solid 1px #eee;
}
.visit-schedule{
	font-size:12px;
	color:#666;
	margin-top:10px;
}
.order-detail .booking-head{
	padding:10px 0;
	border:none;
    border-bottom: solid 1px #ddd;
}
.booking-footer{
	font-size:14px;
	border:solid 1px #eee;
	border-bottom:none;
	font-weight:bold;
}
.booking-footer .f14{
    font-size: 14px;
    color: #999;
}
.booking-footer .f16{
	font-size:16px;
}
.booking-section{
	padding:10px;
	border-bottom:solid 1px #eee;
}
.total-price{
	font-weight:bold;
	color:#e07c0b;
}
.item-row{
	display:flex;
	align-items:center;
	justify-content:center;
}
.product-item{
	min-width: 40%;
}
.product-price{
	min-width:40%;
	margin-left:auto;
	text-align:right;
}
.product-qty{
	text-align: center;
}
.order-detail{
	border:solid 1px #eee;
	margin:0;
	font-size: 14px;
    line-height: 1.4;
}
.orders-items{
	margin-bottom:10px;
	border-bottom:solid 1px #eee;
	padding-bottom:10px;
}
.orders-items:last-child{
	border:none;
}
#countdown-block{
	background:#c00;
	color:#fff;
	display:flex;
	align-items:center;
	justify-content:center;
	padding: 10px 20px;
}
#countdown-block h3{
	margin:0 auto 0 0;
	font-size:16px;
}
#countdownExpPay strong{
	font-size:20px;
}
#countdownExpPay span{
	font-size:16px;
}
#countdown strong{
	font-size: 20px;
}
.map{
	border:solid 2px #ddd;
}
.map iframe{
	width: 100%;
	height:250px;
}
.label-session{
	cursor: pointer;
}
.session input[type=radio]{
	display:none;
}
.session input[type=radio] + label {
	background-color:#8eb4cb;
} 
.session input[type=radio]:checked + label {
	background-color:#2d3171;
} 
.iframe iframe{
	width:100%;
	height:300px;
}
.orderForm{
	margin-bottom:20px;
}
.ticket-name{
	font-size:12px;
}
.ticket-terms{
	padding: 10px;
	background: #fff;
	margin: 10px 0 0 0;
	font-size: 11px;
}
.ticket-terms *{
	margin:0;
}
.ticket-terms ul,.ticket-terms ol{
	margin:0 0 0 20px;
	padding:0;
}
.submitOrder{
	height:45px;
	line-height:37px;
}
/* ======================= FOOTER ========================= */ 
footer{
	background-color:#2d3171;
	color:#fff;
}
footer .navigation{
	margin:0 auto;
}
footer .logo{
	margin:0;
}
.footer-bottom p{
	margin:0;
	font-size:12px;
	padding:10px 0;
}
.footer-top{
	padding:30px 0;
}
footer .socmed a{
    color: #fff;
    font-size: 26px;
    width: auto;
    margin: 0 10px 0 0;
}
/* ======================= SOCMED ICON ========================= */ 
.socmed{
    padding: 10px 0;
    margin-left: auto;
}
.socmed a{
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: none;
    border-radius: 100px;
    font-size: 18px;
    color: #363636;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.socmed a i:before{
	display:inline-block;
	width:30px; height:30px;
	line-height:30px;
	text-align:center;
    color: #363636;
}
.socmed a:hover{
	color:$second-color;
} 
footer .socmed a i:before{
	color:#fff;
}
/* ======================= CAROUSEL ========================= */ 
.slick-slide{
	padding:0 5px;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
	display:block;
}
.owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev{
	position:absolute;
	width:30px; height:30px;
	background:none;
	text-align:center;
	font-size:10px;
	left:-40px;
	top:50%;
	margin:-15px 0 0 0;
	opacity: 0.7;
}
.owl-carousel-bottom .owl-nav .owl-next, .owl-carousel-bottom .owl-nav .owl-prev{
	top:auto;
	bottom:0;
}
.owl-carousel .owl-nav>div>i:before{
	display:block; width:30px; height:30px;
	line-height:30px;
	font-size:30px;
	text-align:center;
	color:#959595;
}
.owl-carousel .owl-nav .owl-next{
	right:-40px;
	left:auto;
}
.widget-container .owl-carousel .owl-nav .owl-prev{
	left:10px;
}
.widget-container .owl-carousel .owl-nav .owl-next{
	right:10px;
}
.event-image .title-image{
	position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    font-weight: bold;
}
.has-seat .qty-colom,.has-seat .total-colom{
	display:none;
}
.has-seat .colom-info{
	margin-right: auto;
}
form .button.chooseSeat{
	border-radius:50px;
	max-width:200px;
}
.phoneCodeBox .select2{
	min-width: inherit;
}
.phoneCodeBox .select2-container{
	width:85px !important;
}
.select2-container--open .select2-dropdown--below{
	min-width:280px;
}
@import "snippets/responsive";