@font-face {
    font-family: 'Alte Haas Grotesk';
    src: url('AlteHaasGrotesk_Bold.eot');
    src: url('AlteHaasGrotesk_Bold.eot?#iefix') format('embedded-opentype'),
        url('AlteHaasGrotesk_Bold.woff2') format('woff2'),
        url('AlteHaasGrotesk_Bold.woff') format('woff'),
        url('AlteHaasGrotesk_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Pangram';
    src: url('Pangram-Medium.eot');
    src: url('Pangram-Medium.eot?#iefix') format('embedded-opentype'),
        url('Pangram-Medium.woff2') format('woff2'),
        url('Pangram-Medium.woff') format('woff'),
        url('Pangram-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pangram';
    src: url('Pangram-Black.eot');
    src: url('Pangram-Black.eot?#iefix') format('embedded-opentype'),
        url('Pangram-Black.woff2') format('woff2'),
        url('Pangram-Black.woff') format('woff'),
        url('Pangram-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pangram';
    src: url('Pangram-Light.eot');
    src: url('Pangram-Light.eot?#iefix') format('embedded-opentype'),
        url('Pangram-Light.woff2') format('woff2'),
        url('Pangram-Light.woff') format('woff'),
        url('Pangram-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pangram';
    src: url('Pangram-Regular.eot');
    src: url('Pangram-Regular.eot?#iefix') format('embedded-opentype'),
        url('Pangram-Regular.woff2') format('woff2'),
        url('Pangram-Regular.woff') format('woff'),
        url('Pangram-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pangram';
    src: url('Pangram-ExtraBold.eot');
    src: url('Pangram-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Pangram-ExtraBold.woff2') format('woff2'),
        url('Pangram-ExtraBold.woff') format('woff'),
        url('Pangram-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pangram';
    src: url('Pangram-Bold.eot');
    src: url('Pangram-Bold.eot?#iefix') format('embedded-opentype'),
        url('Pangram-Bold.woff2') format('woff2'),
        url('Pangram-Bold.woff') format('woff'),
        url('Pangram-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Pangram';
    src: url('Pangram-ExtraLight.eot');
    src: url('Pangram-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Pangram-ExtraLight.woff2') format('woff2'),
        url('Pangram-ExtraLight.woff') format('woff'),
        url('Pangram-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

